/* .main { */
/*   display: flex; */
/*   justify-content: center; */
/*   align-items: center; */
/*   height: 100vh; */
/*   flex-direction: column; */
/* } */
.heading {
  text-align: center;
  color: red;
}
.inputbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 16px;
}
